@using Microsoft.AspNetCore.Components.Authorization
@using TapInAuth.UI.Blazor

<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="new[] { typeof(TapInAuth.UI.Blazor.Components.TapInAuthCard).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AppLayout)">
            <NotAuthorized>
                <RedirectToSignIn />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>
